
<div class="container" ng-controller='advancedCtrl'>
<h1>Calculator</h1>
    <div class="row">
        <div class="panel panel-default infoBlock">
            <div class="panel-heading" ng-bind="(infoBlock.operation) + (opOut)"></div>
            <div class="panel-heading" ng-bind="(infoBlock.result) + (conOut)"></div>
            <div class="panel-body" ng-bind="(infoBlock.input) + (conIn)"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-9 col-xs-offset-3 btn btn-success saveBut" ng-click="saveFunc()">SAVE</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('pow')">x<sup>2</sup></div>
        <div class="ol-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-warning" ng-click="backspace()">&larr;</div>
        <div class="ol-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-warning" ng-click="ceFunc()">CE</div>
        <div class="ol-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-danger" ng-click="clear()">C</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('sqrt')">&radic;</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('n!')">n!</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(7)">7</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(8)">8</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(9)">9</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('/')">/</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('sin')">sin</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-primary" ng-click="numbClick(4)">4</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-primary" ng-click="numbClick(5)">5</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(6)">6</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('*')">*</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('cos')">cos</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(1)">1</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(2)">2</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(3)">3</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  btn btn-info" ng-click="operation('-')">-</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 btn btn-info" ng-click="operation('tan')">tan</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick(0)">0</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-primary" ng-click="numbClick('.')">.</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  btn btn-info" ng-click=operation('=')>=</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 btn btn-info" ng-click="operation('+')">+</div>
    </div>
    <div class="row changeCalc">
        <button class="btn btn-default btn-lg btn-block" ng-click="goToCalc()">Simple mode</button>
    </div>
</div>
